* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: #2980b9 url(
        "http://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png"
    ) repeat 0 0;
	-webkit-animation: 100s linear 0s normal none infinite animate;
	-moz-animation: 100s linear 0s normal none infinite animate;
	-ms-animation: 100s linear 0s normal none infinite animate;
	-o-animation: 100s linear 0s normal none infinite animate;
	animation: 100s linear 0s normal none infinite animate;
}

input, button {
    border: none;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.app {
    display: flex;
    font-family: Lato;
    text-align: center;
    padding: 16px;
    width: 300px;
    height: 600px;
    background-color: #242424;
    color: #ffffff;
    border-radius: 4px;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.input-field {
    display: flex;
    border-radius: 4px;
    padding: 8px;
}

.add-task-btn {
    display: flex;
    border-radius: 4px;
    background-color: #0088ff;
    color: #ffffff;
    text-transform: uppercase;
    height: 30px;
}

.list-container {
    max-height: 95%;
}

.each-todo {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
;}

.done-button {
    margin-right: 4px;
    background-color: #00cc55;
    color: #ffffff;
}

.delete-button {
    color: #ffffff;
    background-color: #ff0033;
}

.done {
    text-decoration: line-through;
    opacity: 0.3;
}

@-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

@-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

@-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

@-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}

@keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
}